@{
    ViewBag.Title = "Диаграмма Ajax";
}
<h2>@ViewBag.Title.</h2>

<h3>График зависимости цены валюты от времени:</h3>


<h3>Результаты сделок:</h3>

<table id="Trades" class="table">
    <tr>
        <th>
            Валюта
        </th>
        <th>
            Цена
        </th>
        <th>
            Количество
        </th>
        <th>
            Дата
        </th>
        <th>
            Покупатель
        </th>
        <th>
            Продавец
        </th>
    </tr>

</table>

<script type="text/javascript">
    $(function () {
        $.getJSON('JsonTrades', function (data) {
            for (var i = 0; i < data.length; i++) {
                var date = new Date(parseInt(data[i].Date.substr(6)));
                date = ('0' + date.getDate()).substr(-2, 2) + '.' +
                    ('0' + (date.getMonth() + 1)).substr(-2, 2) + '.' + date.getFullYear() +
                    ' ' + ('0' + date.getHours()).substr(-2, 2) + ':' + ('0' + date.getMinutes()).substr(-2, 2) + ':' + ('0' + date.getSeconds()).substr(-2, 2);
                $('#Trades').append('<tr><td>' + data[i].Currency + '</td><td>' + data[i].Price +
                    '</td><td>' + data[i].Size + '</td><td>' + date + '</td><td>' + data[i].Customer +
                    '</td><td>' + data[i].Seller + '</td></tr>');
            }
        });
    });
</script>