@{
    ViewBag.Title = "График Ajax";
}

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

<h2>@ViewBag.Title</h2>
<div class="jumbotron">
    <p class="lead">График зависимости цены валюты от времени:</p>
    <script>
        window.onload = function () {
            var dataLines = [];
            var dataPoints = [];
            var chart = new CanvasJS.Chart("chartContainer", {
                zoomEnabled: true,
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Курсы валют"
                },
                axisX: {
                    valueFormatString: "DD.MM.YYYY",
                    labelAngle: -50
                },
                axisY: {
                    title: "Цена",
                    titleFontSize: 24,
                    valueFormatString: "#.###",
                    includeZero: false
                },
                data: dataLines 
            });

            function addData(data) {
                for (var i = 0; i < data.length; i++) {
                    var points = [];
                    for (var j = 0; j < data[i].price.length; j++) {
                        points.push({
                            x: new Date(parseInt(("" + data[i].date[j]).substr(6))),
                            y: data[i].price[j]                            
                        });
                    }
                    dataLines.push({
                        type: "line",
                        showInLegend: true,
                        yValueFormatString: "#.###",
                        xValueFormatString: "DD.MM.YYYY", 
                        legendText: data[i].currency,
                        dataPoints: points
                    });
                }
                chart.render();

            }

            $.getJSON("/Home/ChartJSON", addData);

        }
    </script>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>

</div>
<h3>Результаты сделок:</h3>

<table id="Trades" class="table">
    <tr>
        <th>
            Валюта
        </th>
        <th>
            Цена
        </th>
        <th>
            Количество
        </th>
        <th>
            Дата
        </th>
        <th>
            Покупатель
        </th>
        <th>
            Продавец
        </th>
    </tr>

</table>

<script type="text/javascript">
    $(function () {
        $.getJSON('JsonTrades', function (data) {
            for (var i = 0; i < data.length; i++) {
                var date = new Date(parseInt(data[i].Date.substr(6)));
                date = ('0' + date.getDate()).substr(-2, 2) + '.' +
                    ('0' + (date.getMonth() + 1)).substr(-2, 2) + '.' + date.getFullYear() +
                    ' ' + ('0' + date.getHours()).substr(-2, 2) + ':' + ('0' + date.getMinutes()).substr(-2, 2) + ':' + ('0' + date.getSeconds()).substr(-2, 2);
                $('#Trades').append('<tr><td>' + data[i].Currency + '</td><td>' + data[i].Price +
                    '</td><td>' + data[i].Size + '</td><td>' + date + '</td><td>' + data[i].Customer +
                    '</td><td>' + data[i].Seller + '</td></tr>');
            }
        });
    });
</script>
