@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Итоги торгов валютами</h1>
    <p class="lead">
        По результатам биржевых торгов устанавливаются официальные курсы белорусского рубля к доллару США, к российскому рублю и евро.
        Инструменты валютного рынка представляют собой валютную пару, состоящую из торгуемой валюты (валюты лота) и сопряженной валюты (валюты в которой будут проводиться расчеты по сделкам с валютой лота).
    </p>
    <p><a href="https://www.bcse.by/ru" class="btn btn-primary btn-lg">Подробнее &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Рынки</h2>
        <p>
            ОАО "Белорусская валютно-фондовая биржа" обслуживает основные сегменты белорусского финансового рынка.
        </p>
        <p><a class="btn btn-default" href="https://www.bcse.by/ru/markets">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Итоги</h2>
        <p>Подробные итоги торгов на валютном, фондовом и других рынках.</p><br>
        <p><a class="btn btn-default" href="https://www.bcse.by/ru/currencymarket/rates/0">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Правила</h2>
        <p>Инструкция и документация о порядке торгов, видов документов, тарифы, положения и т.д.</p><br>
        <p><a class="btn btn-default" href="https://www.bcse.by/ru/rules">Подробнее &raquo;</a></p>
    </div>
</div>
